<h1>Проверка отсылки уведомления {{ email.toName }}!</h1>

<p>
    Проверка прошла удачно. Письмо доставлено.
</p>

    {% for project in projects %}
<p>
    Project name: {{ project.name }}<br>
    Project description: {{ project.description }}<br>
    <br>
</p>
    {% endfor %}




